---
 const personalImageAlt = "Luis Siancas"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Luis Siancas, aunque muchos me conocen como DahuX. Mi camino en la programación comenzó en quinto de secundaria, cuando descubrí este mundo y quedé fascinado.
      Desde entonces, <strong
        > supe que quería dedicarme a esto, por lo que ahora estudio Ingeniería de Software para convertir mi pasión en mi profesión.</strong
      >.
    </p>

    <p>
      Algunos de los retos más significativos que he enfrentado como estudiante y programador han sido la adaptación de distintos 
      softwares empresariales para satisfacer las necesidades específicas de cada cliente. Además, incorporarme a nuevos entornos laborales ha representado
       un desafío, ya que implica comprender y familiarizarme rápidamente con los sistemas que se me asignan. Sin embargo, me esfuerzo por analizar cada detalle,
        por más mínimo que sea, para ofrecer soluciones óptimas y relevantes que aporten valor a la empresa.
    </p>

  </div>

  <img width="200" height="200" src="/projects/yo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
